aio-pika==9.5.5
minio==7.2.15
pymupdf==1.25.2
anthropic==0.44.0
pandas==2.2.3
scipy==1.15.1
numpy==2.2.1
qdrant-client==1.12.2
sentence-transformers==3.4.1
torch==2.6.0
sqlalchemy[asyncio]==2.0.37
asyncpg==0.30.0
python-dotenv==1.0.1
opencv-python-headless==4.11.0.86
Pillow==11.1.0
opentelemetry-api==1.29.0
opentelemetry-sdk==1.29.0
